.card {  
  background-color: var(--background-tertiary);
  border-radius: 10px;
  

  header {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    border-bottom: 1px solid var(--border-divisor);
    padding: 14px 20px;

    .period {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .line {
    
  }
}