.btn-container {
  position: fixed;
  top: 100vh;
  right: 0;
  width: 100%;
  z-index: 9;
  transform: translateY(-100%);
  background: var(--background-tertiary);
  padding: 18px;
  display: flex;
  justify-content: center;
  cursor: pointer;

  @media (width > 768px) {
    top: auto;
    width: auto;;
    bottom: 30px;
    right: 30px;
    transform: translateY(0);
    background: transparent;
    padding: 0;    
    display: block;
  }
}

.btn-primary {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: var(--background-brand);
  color: #050505;
  font: var(--label-lg); 
  cursor: pointer; 

  &:hover {
    background-color: var(--background-highlights);
  }
}

.btn-trash {
  background: url('../assets/trash.png') no-repeat center center / contain;
  display: flex;
  height: 20px;
  width: 20px;
  text-indent: -9999px;
}

.btn-edit {
  background: url('../assets/edit.png') no-repeat center center / contain;
  display: flex;
  height: 20px;
  width: 20px;
  text-indent: -9999px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 28px 0 0;
  overflow-y: auto;
  height: 60vh;

  @media (width > 768px) {
    height: auto;
  }

  .line {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.two-column {
      @media (width > 768px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
        
        .col {
          width: 50%;
        }
      }
    }
  }
}

label {
  display: flex;
  color: var(--content-primary);
  font: var(--p-md);
  margin-bottom: 4px;
}

fieldset {
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding: 12px;
  cursor: pointer;

  input, textarea, select {
    all: unset;
    appearance: none;
    border: 0;
    background-color: transparent;
    font: var(--p-lg);
    color: var(--content-secondary);
    padding-left: 12px;
    flex: 1;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      cursor: pointer;
    }

    &[type="date"], &[type="hour"] {
      background: url('../assets/arrow.svg') no-repeat calc(100% - 12px) center; 
    }
  }
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;

  button {
    width: auto;
  }
}