:root {
  --font-inter-tight: "Inter Tight", sans-serif;
  --font-inter: "Inter", sans-serif;

  --content-primary: #FFFFFF;
  --content-secondary: #98959D;
  --content-tertiary: #666666;
  --content-brand: #9282FA;
  --background-primary: #151515;
  --background-secondary: #1E1E1E;
  --background-tertiary: #23242C;
  --background-brand: #9282FA;
  --background-highlights: #BDB4FA;
  --border-primary: #3E3C41;
  --border-secondary: #86818C;
  --border-brand: #9282FA;
  --border-divisor: #353339;

  --p-md: 500 14px/24px var(--font-inter);
  --p-sm: 500 12px/16px var(--font-inter);
  --label-lg: 600 16px/24px var(--font-inter);
  --label-md: 600 14px/24px var(--font-inter);
  --label-sm: 600 12px/16px var(--font-inter);
  
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font: var(--p-md);
  color: var(--content-primary);
  background-color: #14151D;
}

a {
  font: 500 12px/16px var(--font-inter);
  color: var(--content-tertiary);
  text-decoration: none;

  &:hover, &:active {
    color: var(--content-primary);
    text-decoration: underline;
  }
}

p {
  font: var(--p-md);
}

h1, h2 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  appearance: none;
  width: 100%;
  outline: none;
}

.title {
  font: 600 24px/32px var(--font-inter-tight);
  margin-bottom: 4px;
}